<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="pokemons" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" ios:itemHeight="250" dynamicItemSize="false"
            spanCount="2"></ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item">
            <ns-pokemon-card [item]="item"> </ns-pokemon-card>

        </ng-template>
    </RadListView>
</GridLayout>
