<StackLayout>
    <StackLayout orientation="horizontal" backgroundColor="lightgray">
        <Image [src]="pokemonFull.picture"></Image>
    </StackLayout>
    <ScrollView orientation="vertical">
        <FlexboxLayout flexDirection="column" flexWrap="nowrap" alignContent="flex-start" class="p-15">
            <StackLayout>
                <Label class="" fontSize="35" [text]="pokemonFull.name+' # ' +pokemonFull.id|uppercase"
                    textWrap="true"></Label>
                <Label class="" fontSize="50 " [text]="'typo'" textWrap="true"></Label>
                <ListView height="150" [items]="pokemonFull.types">
                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                        <Label class="" fontSize="30" [text]=" item.type.name|uppercase" textWrap="true"></Label>
                    </ng-template>
                </ListView>
                <Label fontSize="50" [text]="'Peso'" textWrap="true"></Label>
                <Label fontSize="30" [text]="pokemonFull.weight+'KG' " textWrap="true"></Label>
            </StackLayout>
            <Label fontSize="50" [text]="'Spirits'" textWrap="true"></Label>
            <ScrollView orientation="horizontal">
                <StackLayout orientation="horizontal">
                    <Image height="200" width="150" [src]="pokemonFull.sprites.front_default"></Image>

                    <Image height="200" width="150" [src]="pokemonFull.sprites.back_default"></Image>

                    <Image height="200" width="150" [src]="pokemonFull.sprites.front_shiny"></Image>

                    <Image height="200" width="150" [src]="pokemonFull.sprites.back_shiny"></Image>
                </StackLayout>
            </ScrollView>
            <Label fontSize="50" [text]="'Movimientos'" textWrap="true"></Label>

            <ListView height="150" [items]="pokemonFull.moves">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <Label class="" fontSize="15" [text]=" item.move.name|uppercase" textWrap="true"></Label>
                </ng-template>
            </ListView>
            <Label fontSize="50" [text]="'abilities'" textWrap="true"></Label>

            <ListView height="150" [items]="pokemonFull.abilities">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <Label class="" fontSize="15" [text]=" item.ability.name|uppercase" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </FlexboxLayout>
    </ScrollView>
</StackLayout>
<!--
Properties
NAME	        TYPE	        DESCRIPTION
orientation	  Orientation	  Gets or sets direction in which the content can be scrolled. Supported values are "vertical" (default) and "horizontal".

Events
NAME	  DESCRIPTION
scroll  Emitted when the component is scrolled
-->
